<link rel="stylesheet" href="~/Content/Site.css">
@{
    ViewBag.Title = "My Flix";
}

<div class="row__inner container">
    @foreach (var item in ViewBag.movies)
    {

        
            <div class="tile">
                <a href="~/watch/@(item.uid.ToString().Trim())">
                    <div class="tile__media">

                        <img class="tile__img" src="~/Content/posters/@(item.Image.ToString().Trim())" alt="@(item.Name.ToString().Trim())" />

                    </div>
                    <div class="tile__details">
                        <div class="title__lang">
                            @(item.Language.ToString().Trim())
                        </div>
                        <div class="title__res">
                            @(item.Resolution.ToString().Trim())p
                        </div>
                        <div class="tile__title">
                            @(item.Name.ToString().Trim()) (@(item.Year))
                        </div>
                    </div>
                </a>
</div>
        




    }
    </div>
    

